@import "~antd/dist/antd.css";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.card-container {
  width: 100%;
  margin: 15px;
}

.ant-card-cover {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  border: 1px solid #e8e8e8;
}

button {
  border: none;
  background: none;
  padding: 1px 6px;
}

.ant-card-cover img {
  width: 200px;
  height: 200px;
}

.ant-card-body .list {
  color: rgba(0, 0, 0, 0.65);
  padding: 0px;
  display: flex;
  flex-direction: row;
}

/* Media Queries */

@media (min-width: 780px) {
  .card-container {
    box-sizing: border-box;
    width: 46.17%;
  }
}

@media (min-width: 990px) {
  .card-container {
    box-sizing: border-box;
    width: 30.3%;
  }
}

@media (min-width: 1200px) {
  .card-container {
    box-sizing: border-box;
    width: 22.5%;
  }
}
