.empty-state-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15%;
  padding: 10px;
}

.empty-state-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.empty-state-text h1 {
  margin: 0px;
  color: #e1e1e1;
}

.empty-state-text h4 {
  color: #e1e1e1;
  margin: 0px;
}

.empty-state-container button {
  color: #1890ff;
  border: 1px solid #1890ff;
  border-radius: 3px;
  padding: 4px 6px;
  font-weight: 500;
}
