@import "~antd/dist/antd.css";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination-container {
  margin: 20px 0px;
}
